<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GiantShop</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
            /* Center the table horizontally */
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Add padding to the cells */
        th,
        td {
            padding: 8px 12px;
        }

        /* Add margin to the table */
        table {
            margin-bottom: 20px;
        }
    </style>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <!-- Your existing content -->
            <!-- ... -->
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <!-- Logo or brand -->
            <div class="col-lg-4">
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Jiant</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <!-- Search bar -->
          
            <!-- Button groups -->
            <div class="col-lg-6 text-right">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                        <% if (username) { %>
                            <%= username %> <!-- Display the username if available -->
                                <% } else { %>
                                    เข้าสู่ระบบ <!-- Show a default message if the user is not logged in -->
                                    <% } %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <% if (username) { %>
                            <!-- If logged in, show a logout link -->
                            <a href="/logout" class="dropdown-item">ออกจากระบบ</a>
                            <% } else { %>
                                <!-- If not logged in, show login and register links -->
                                <a href="/login" class="dropdown-item">เข้าสู่ระบบ</a>
                                <a href="/register" class="dropdown-item">สมัครสมาชิก</a>
                                <% } %>
                    </div>
                </div>



               
            </div>
        </div>
    </div>
    <!-- Topbar End -->



    <div class="container">


        <h2>ข้อมูลประเภทสินค้า</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category=> { %>
                    <tr>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <a href="/admin/edit/category/<%= category.id %>" class="btn btn-sm btn-primary">เเก้ไข</a>

                            <a href="/admin/delete/category/<%= category.id %>" class="btn btn-sm btn-danger">ลบ</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/admin/add" class="btn btn-primary">เพิ่มข้อมูลประเภทสินค้า</a>



        <h2>ข้อมูลสินค้า</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>ID</th>
                    <th>Detail_ID</th>
                    <th>Details</th>
                    <th>Picture</th>
                    <th>Price</th>
                    <th>Text</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% relationships.forEach(relationship=> { %>
                    <tr>
                        <td>
                            <%= relationship.product_id %>
                        </td>
                        <td>
                            <%= relationship.brand_id %>
                        </td>
                        <td>
                            <%= relationship.detail_id %>
                        </td>
                        <td>
                            <%= relationship.details %>
                        </td>
                        <td style="width: 100px; height: 100px;">
                            <img src="<%= relationship.picture %>" alt="Product Picture"
                                style="max-width: 100%; max-height: 100%;">
                        </td>

                        <td>
                            <%= relationship.price %>
                        </td>
                        <td>
                            <%= relationship.text %>
                        </td>
                        <td>
                            <!-- Edit link for product_brand_relationship -->




                            <a href="/admin/edit?action=edit&table=product_brand_relationship&detail_id=<%= relationship.detail_id %>"
                                class="btn btn-sm btn-primary">เเก้ไข</a>



                            <form action="/admin/deleteproduct" method="POST">
                                <input type="hidden" name="table" value="product_brand_relationship">
                                <input type="hidden" name="id" value="<%= relationship.detail_id %>">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>


                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/admin/addproduct?action=add&table=product_brand_relationship"
            class="btn btn-primary">เพิ่มข้อมูลสินค้า</a>
        <br>
        <h3>Admins</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
               
                </tr>
            </thead>
            <tbody>
                <% admins.forEach(admin => { %>
                    <tr>
                        <td><%= admin.username %></td>
                        <td><%= admin.email %></td>
                        
                       
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
        <a href="/admin/add-admin" class="btn btn-primary">Add Admin</a><br><br>
   
        <a href="/admin/orders" class="btn btn-primary">View Orders</a><br><br>

        <a href="/admin/orders/export" class="btn btn-primary">Export Orders</a>

      
       
     
    
      

        

    </div>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">ติดต่อ</h5>
                <p class="mb-4">ราษฏรดำริ เทศบาลเมืองปราจีนบุรี 25000</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>277/2,อำเภอเมืองปราจีนบุรี,
                    ปราจีนบุรี</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>chinnawat@jiantblue.co.th</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>037 452 142</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">ร้านค้า</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>หน้าแรก</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>สินค้า</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>ช้อปปิ้ง</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>ติดต่อ</a>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">บัญชีของฉัน</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>หน้าแรก</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>สินค้า</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>ช้อปปิ้ง</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>ติดต่อ</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">ช่องทางการติดตาม</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End -->








    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>




    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/test.js"></script>
</body>

</html>