<!-- views/pages/order.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <a href="/admin" class="btn btn-secondary">Back</a> <!-- Back button -->


<h1>Latest Orders</h1>
<% Object.keys(groupedOrders).forEach(date => { %>
    <h2><%= date %></h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                  
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th>Image</th>
                   
                    <th>view customer</th>
                    <th>delivery status</th>
                   
                </tr>
            </thead>
            <tbody>
                <% groupedOrders[date].forEach(order => { %>
                    <tr>
                        <td><%= order.order_id %></td>
                      
                        <td><%= order.quantity %></td>
                        <td><%= order.price %></td>
                        <td><%= order.details %></td>
                        <td><img src="<%= order.picture %>" alt="Product Image" style="max-width: 100px; max-height: 100px;"></td>
                       
                        <td>
                            <a href="/admin/orders/address/<%= order.user_id %>" class="btn btn-primary">View Address</a>
                        </td>
                        <td>
                            <form action="/admin/orders/update-delivery-status/<%= order.order_id %>" method="POST">
                                <div class="input-group">
                                    <select class="custom-select" name="newStatus">
                                        <option value="รอดำเนินการ" <% if (order.delivery_status === 'รอดำเนินการ') { %> selected <% } %>>รอดำเนินการ</option>
                                        <option value="กำลังดำเนินการ" <% if (order.delivery_status === 'กำลังดำเนินการ') { %> selected <% } %>>กำลังดำเนินการ</option>
                                        <option value="จัดส่งแล้ว" <% if (order.delivery_status === 'จัดส่งแล้ว') { %> selected <% } %>>จัดส่งแล้ว</option>
                                      <option value="จัดส่งไม่สำเร็จ" <% if (order.delivery_status === 'จัดส่งไม่สำเร็จ') { %> selected <% } %>>จัดส่งไม่สำเร็จ</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        
                        
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
<% }); %>

    </div>
</body>

</html>
